* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  height: 100%;
}
